/*
Colours:
Purple: color: rgb(110, 70, 110);
Yellow: rgb(229, 199, 71)
Tan: tan
Orange: orange
Lightblue: lightblue
*/

body {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  text-align: center;
  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* color: rgb(107, 52, 107); */
  color: rgb(229, 199, 71);
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 0px;
}

.button {
  width: 100%;
}

.md-button {
  display: inline-block;
  min-width: 10%;
  min-height: 20px;
  background-color: lightcoral;
  color: white;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  font-size: 18px;
}

.md-button:hover {
  cursor: pointer;
}

.md-button-cap-right {
  display: inline-block;
  min-width: 1.5%;
  min-height: 20px;
  background-color: lightcoral;
  color: lightcoral;
  margin: auto;
  margin-top: 10px;
  margin-left: 2px;
  padding: 10px;
  font-size: 18px;
  border-radius: 0px 30px 30px 0px;
}

.md-button-cap-right:hover {
  cursor: pointer;
}

.md-button-cap-left {
  display: inline-block;
  min-width: 1.5%;
  min-height: 20px;
  background-color: lightcoral;
  color: lightcoral;
  margin: auto;
  margin-top: 10px;
  margin-right: 2px;
  padding: 10px;
  font-size: 18px;
  border-radius: 30px 0px 0px 30px;
}

.md-button-cap-left:hover {
  cursor: pointer;
}

.heading {
  color: rgb(110, 70, 110);
  font-size: 60px;
}

.headingNum {
  display: inline-block;
}
